
{item {Connect to} /usr/local/isabel/lib/images/gif/pcamdoc.gif {sh -c $ISABEL_DIR/bin/isrv_ConnectTo.sh}}
{item {Local Test} /usr/local/isabel/lib/images/gif/localtesticon.gif {sh -c $ISABEL_DIR/bin/isrv_LocalTest.sh}}
{item {Start Session Server} /usr/local/isabel/lib/images/gif/data_net.gif {sh -c $ISABEL_DIR/bin/isrv_StartServer.sh}}
{item {Edit Local Configuration} /usr/local/isabel/lib/images/gif/data_face.gif {sh -c $ISABEL_DIR/bin/isrv_LocalConfiguration.sh}}

{menu {Utilities} /usr/local/isabel/lib/images/gif/tools.gif 
                  {
                    {item {Clean Up} /usr/local/isabel/lib/images/gif/medic.gif {sh -c $ISABEL_DIR/bin/isrv_CleanUp.sh}}
                    {item {Logs} /usr/local/isabel/lib/images/gif/graph2.gif {sh -c $ISABEL_DIR/bin/isrv_IsabelLogs.sh}}
                    {item {Select Isabel Version} /usr/local/isabel/lib/images/gif/replace2.gif {sh -c $ISABEL_DIR/bin/isrv_SelectVersion.sh}}
                    {item {Isabel Update} /usr/local/isabel/lib/images/gif/recicla.gif {sh -c $ISABEL_DIR/bin/isrv_IsabelUpdate.sh}}
                  }
}

{menu {Help} /usr/local/isabel/lib/images/gif/question.gif 
       { {item {About Isabel} /usr/local/isabel/lib/images/gif/isabelcscw24.gif {sh -c $ISABEL_DIR/bin/isrv_AboutIsabel.sh}}
               {item {AGPL License} /usr/local/isabel/lib/images/gif/gpl.gif {sh -c $ISABEL_DIR/bin/isrv_GplLicense.sh}}
               {item {Home Page} /usr/local/isabel/lib/images/gif/agorasa.gif {sh -c $ISABEL_DIR/bin/isrv_IsabelHomepage.sh}}
               {item {Contents} /usr/local/isabel/lib/images/gif/mundo.gif {sh -c $ISABEL_DIR/bin/isrv_Contents.sh}}
       }
}

