<?xml version="1.0" ?>
<!--
 - ISABEL: A group collaboration tool for the Internet
 - Copyright (C) 2009 Agora System S.A.
 -
 - This file is part of Isabel.
 -
 - Isabel is free software: you can redistribute it and/or modify
 - it under the terms of the Affero GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - Isabel is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - Affero GNU General Public License for more details.
 -
 - You should have received a copy of the Affero GNU General Public License
 - along with Isabel.  If not, see <http://www.gnu.org/licenses/>.
 -
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <target name="mail" xsi:type="Mail"
            smtpServer="jungla.dit.upm.es" 
            from="Reastra@dit.upm.es"
            to="sirvent@dit.upm.es"
            subject="DVRB FATAL ERROR" />
    
    <target xsi:type="Database" name="dbLog">
      <dbProvider>sqlserver</dbProvider>
      <!-- database connection parameters -->
      <!-- alternatively you could provide a single 'connectionstring' parameter -->
      <dbHost>.</dbHost>
      <dbDatabase>DVRB</dbDatabase>
      <dbUserName>dvrb</dbUserName>
      <dbPassword>1234</dbPassword>
      <keepConnection>true</keepConnection>      
      <commandText>
        insert into Log(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
      </commandText>

      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!-- <logger name="*" minlevel="Debug" writeTo="dbLog" />  -->
  </rules>
</nlog>
